/* # Setup devices width */
/* # Variables for mobile first approach and strict ranges */
@import '../../node_modules/normalize.css';
body {
  font: 1em 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  height: 87px;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.phone {
  display: inline-block;
  position: absolute;
  top: 32px;
  right: 5.25%;
  font-weight: bold;
}
.phone__number {
  font-size: 1.5em;
  color: #cc0000;
}
.logo-oggetto {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50.4%;
  top: 50%;
  cursor: pointer;
}
.logo-oggetto__link_oggetto {
  width: 50px;
  height: 48px;
}
.logo-shop {
  display: inline-block;
  position: absolute;
  left: 6.45%;
  top: 35px;
  cursor: pointer;
}
.logo-shop__link_the-shop {
  width: 107px;
}
.menu {
  min-height: 49px;
  overflow: hidden;
  background-color: #f2f2ed;
  border-top: 1px solid #d9d9d4;
  border-bottom: 1px solid #d9d9d4;
}
.navigation {
  position: relative;
  left: 6.55%;
  display: inline-block;
}
.navigation__list {
  padding: 0;
}
.navigation__item {
  list-style-type: none;
  float: left;
  margin-right: 20px;
  font: 1em 'Roboto', sans-serif;
}
.navigation__item_style {
  color: #cc0000;
  text-decoration: underline;
}
.navigation__link {
  cursor: pointer;
  color: #cc0000;
}
.navigation__link_style {
  color: #000;
  font-weight: bold;
}
.search {
  display: inline-block;
  overflow: hidden;
  top: 5px;
  float: right;
  right: 5.25%;
  position: relative;
  height: 38px;
  width: 17.3%;
}
.search__area {
  width: 100%;
  height: 38px;
  border: 1px solid #d9d9d4;
}
.search__icon {
  position: absolute;
  right: 11px;
  top: 12px;
}
.breadcrumbs {
  margin: 49px 0 19px 6.35%;
}
.breadcrumbs__list {
  list-style-type: none;
  padding-left: 0;
}
.breadcrumbs__item {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.breadcrumbs__link {
  cursor: pointer;
  color: #cc0000;
  text-decoration: underline;
}
.breadcrumbs__link_active {
  color: #000;
  text-decoration: none;
}
.photo_wrap {
  float: left;
  width: 43.7%;
  padding-left: 6.4%;
}
.photo__img {
  width: 100%;
}
.description-product {
  float: left;
  width: 40%;
  padding-left: 4.6%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.description-product__title {
  margin: 0 0 6px;
  font-size: 2.250em;
  top: -8px;
  position: relative;
}
.description-product__text {
  margin: 0;
  font-size: 1em;
}
.description-product__price {
  font-size: 2.250em;
  color: #cc0000;
  margin: 24px 0;
  font-weight: bold;
  display: inline-block;
}
.description-product__button {
  background-color: #cc0000;
  font-size: 2em;
  padding: 20px 50px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.description-product__button:focus {
  outline: none;
}
.props-product {
  margin-bottom: 35px;
}
.props-product__list {
  list-style-type: none;
  padding-left: 0;
}
.props-product__item {
  float: left;
  margin-right: 10px;
  display: block;
  box-sizing: border-box;
  width: 65px;
  overflow: hidden;
  height: 65px;
  border: 1px solid;
  cursor: pointer;
  position: relative;
}
.props-product__item_color-first {
  background-color: #fff;
}
.props-product__item_color-second {
  background-color: #e3d95e;
}
.props-product__item_color-third {
  background-color: #a5af96;
}
.props-product__item_active {
  border: 3px solid #cc0000;
}
.props-product__link {
  font-size: 2.250em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.favourite {
  margin-top: 40px;
  cursor: pointer;
}
.favourite__title {
  font-size: 1.125em;
  color: #999;
  text-decoration: underline;
}
.footer {
  background-color: #f2f2ed;
  border-top: 1px solid #d9d9d4;
  padding: 58px 0 0 6.25%;
  margin-top: 123px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.footer_wrap {
  padding: 3.7% 6.3%;
}
.footer__service {
  float: left;
  margin-right: 3.5%;
  width: 27%;
}
.footer__title {
  font-weight: bold;
  margin: 0 0 21px;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  column-count: 2;
  height: 200px;
}
.footer__item {
  line-height: 148%;
}
.footer__link {
  color: #000;
}
.footer__hor {
  margin: 0;
}
.footer__copy {
  margin: 30px 0 5px 0;
}
.footer__law {
  margin: 0 0 45px 0;
}
.capability {
  float: left;
  width: 37%;
}
.capability_wrap {
  float: left;
}
.capability__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.capability__item {
  margin-bottom: 15px;
}
.capability__icon {
  height: 40px;
  width: 40px;
}
.capability__icon_delivery {
  height: 39px;
  width: 45px;
  position: relative;
  top: 16px;
  left: -9px;
}
.capability__icon_heart {
  height: 30px;
  width: 30px;
  position: relative;
  top: 11px;
  left: -5px;
}
.capability__icon_cup {
  height: 22px;
  width: 30px;
  position: relative;
  top: 8px;
  left: -5px;
}
.social {
  float: right;
}
.social__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.social__item {
  margin-bottom: 10px;
}
.social__icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
