@import 'media';
@import (less) '../../node_modules/normalize.css/normalize.css';

@red: #c00;
@gray: #d9d9d4;
@white-gray: #f2f2ed;
@black: #000;
@white: #fff;
@yellow: #e3d95e;
@green-gray: #a5af96;
@dark-gray: #999;

// Код для примера
body {
    margin: 0;
}

a {
    //color: @black;
    text-decoration: none;
}

.font-family() {
    font-family: Roboto, Arial, sans-serif;
}

//
//.menu {
//    margin: 0;
//    padding: 0;
//    text-align: center;
//    background: red; // red on small devices
//
//    @media @tablet {
//        background: green; // green on medium devices
//    }
//
//    @media @desktop {
//        background: blue; // blue on large devices
//    }
//
//    &__item {
//        display: inline-block;
//        list-style-type: none;
//    }
//
//    &__link {
//        color: #FFF;
//    }
//
//    // Bottom Menu
//    &_bottom { // BEM modifier example
//        background: green;
//    }
//
//    &_bottom &__link {
//        color: #f00;
//    }
//}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header {
    height: 87px;
    overflow: hidden;
    position: relative;
    .font-family();
    @media @phone-strict {
        height: 140px;
    }
}

.phone {
    display: inline-block;
    position: absolute;
    top: 32px;
    right: 5.25%;
    @media @phone-strict {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 86%;
        right: 0;
        text-align: center;
    }

    &__number {
        font-size: 1.5em;
        color: @red;
        font-weight: bold;
    }
}

.logo-oggetto {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50.4%;
    top: 50%;
    cursor: pointer;
    @media @phone-strict {
        left: 50%;
        top: 51%;
    }

    &__link {
        &_oggetto {
            width: 50px;
            height: 48px;
        }
    }
}

.logo-shop {
    display: inline-block;
    position: absolute;
    left: 6.45%;
    top: 35px;
    cursor: pointer;
    @media @phone-strict {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 17%;
    }

    &__link {
        &_the-shop {
            width: 107px;
        }
    }
}

.menu {
    min-height: 49px;
    overflow: hidden;
    background-color: @white-gray;
    border-top: 1px solid @gray;
    border-bottom: 1px solid @gray;
}

.navigation {
    position: relative;
    left: 6.55%;
    display: inline-block;

    &__list {
        padding: 0;
    }

    &__item {
        list-style-type: none;
        float: left;
        margin-right: 20px;
        font: 1em Roboto, sans-serif;
    }

    &__item_style {
        color: @red;
        text-decoration: underline;
    }

    &__link {
        cursor: pointer;
        color: @red;
    }

    &__link_style {
        color: @black;
        font-weight: bold;
    }
}

.search {
    display: inline-block;
    overflow: hidden;
    top: 5px;
    float: right;
    right: 5.25%;
    position: relative;
    height: 38px;
    width: 17.3%;
    @media @phone-strict {
        width: 70%;
        top: 0;
        float: left;
        left: 6.4%;
        right: 0;
    }

    &__area {
        width: 100%;
        height: 38px;
        border: 1px solid @gray;
    }

    &__icon {
        position: absolute;
        right: 11px;
        top: 12px;
    }
}

.content {
    //background-color: #fff;
}

.breadcrumbs {
    margin: 49px 0 19px 6.35%;

    &__list {
        list-style-type: none;
        padding-left: 0;
    }

    &__item {
        display: inline-block;
        float: left;
        margin-right: 10px;
    }

    &__link {
        cursor: pointer;
        color: @red;
        text-decoration: underline;

        &_active {
            color: @black;
            text-decoration: none;
        }
    }
}

.photo {
    &_wrap {
        float: left;
        width: 43.7%;
        padding-left: 6.4%;
        @media @tablet-strict, @phone-strict {
            width: 80%;
            padding: 0 10%;
        }
    }

    &__img {
        width: 100%;
    }
}

.description-product {
    float: left;
    width: 40%;
    padding-left: 4.6%;
    overflow: hidden;
    .font-family();
    @media @tablet-strict, @phone-strict {
        width: 80%;
        padding: 0 10%;
    }

    &__title {
        margin: 0 0 6px;
        font-size: 2.250em;
        top: -8px;
        position: relative;
        @media @tablet-strict, @phone-strict {
            text-align: center;
        }
    }

    &__text {
        margin: 0;
        font-size: 1em;
        @media @tablet-strict, @phone-strict {
            text-align: center;
        }
    }

    &__price {
        font-size: 2.250em;
        color: @red;
        margin: 24px 0;
        font-weight: bold;
        display: inline-block;
        @media @tablet-strict, @phone-strict {
            text-align: center;
            display: block;
        }
    }

    &__wrap-button {
        @media @tablet-strict, @phone-strict {
            position: relative;
        }
    }

    &__button {
        background-color: @red;
        font-size: 2em;
        padding: 20px 50px;
        border: none;
        color: @white;
        cursor: pointer;
        @media @tablet-strict, @phone-strict {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }

    &__button:focus {
        outline: none;
    }
}

.props-product {
    margin-bottom: 35px;
    @media @tablet-strict, @phone-strict {
        text-align: center;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        @media @tablet-strict, @phone-strict {
            display: inline-block;
            text-align: center;
        }
    }

    &__item {
        float: left;
        margin-right: 10px;
        display: block;
        box-sizing: border-box;
        width: 65px;
        overflow: hidden;
        height: 65px;
        border: 1px solid;
        cursor: pointer;
        position: relative;

        &_color-first {
            background-color: @white;
        }

        &_color-second {
            background-color: @yellow;
        }

        &_color-third {
            background-color: @green-gray;
        }

        &_active {
            border: 3px solid @red;
        }
    }

    &__link {
        font-size: 2.250em;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.favourite {
    margin-top: 40px;
    cursor: pointer;
    @media @tablet-strict, @phone-strict {
        margin-top: 100px;
        text-align: center;
    }

    &__title {
        font-size: 1.125em;
        color: @dark-gray;
        text-decoration: underline;
    }
}

.footer {
    background-color: @white-gray;
    border-top: 1px solid @gray;
    padding: 58px 0 0 6.25%;
    overflow: hidden;
    .font-family();

    &_wrap {
        padding: 3.7% 6%;
        margin-top: 123px;
        @media @phone-strict {
            padding: 2%;
            margin-top: 30px;
        }
    }

    &__service {
        float: left;
        margin-right: 3.5%;
        width: 27%;
        @media @desktop-strict, @tablet-strict {
            width: 43.5%;
        }
        @media @phone-strict {
            width: 100%;
            margin: 0 0 10px;
        }
    }

    &__title {
        font-weight: bold;
        margin: 0 0 21px;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        column-count: 2;
        @media @desktop-strict {
            height: auto;
        }
    }

    &__item {
        line-height: 148%;
    }

    &__link {
        color: @black;
    }

    &__hor {
        margin: 0;
    }

    &__copy {
        margin: 30px 0 5px;
    }

    &__law {
        margin: 0 0 45px;
    }

    &__bottom {
        margin-top: 80px;
        @media @desktop-strict, @tablet-strict {
            margin-top: 0;
        }
        @media @phone-strict {
            margin-top: 10px;
        }
    }
}

.capability {
    float: left;
    width: 37%;
    @media @desktop-strict, @tablet-strict, @phone-strict {
        width: 88%;
    }
    @media @phone-strict {
        width: 100%;
    }

    &_wrap {
        float: left;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__icon {
        height: 40px;
        width: 40px;

        &_delivery {
            height: 39px;
            width: 45px;
            position: relative;
            top: 16px;
            left: -9px;
        }

        &_heart {
            height: 30px;
            width: 30px;
            position: relative;
            top: 11px;
            left: -5px;
        }

        &_cup {
            height: 22px;
            width: 30px;
            position: relative;
            top: 8px;
            left: -5px;
        }
    }

    &__text {
        //position: relative;
        //top: -14px;
        //left: 10px;
    }
}

.social {
    float: right;
    @media @phone-strict {
        float: left;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 10px;
        @media @desktop-strict, @tablet-strict {
            margin-right: 5px;
        }
        @media @phone-strict {
            float: left;
        }
    }

    &__icon {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
}
